 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  //background-image: url("../images/cloud-birds-wallpapers.png");
  background-image: url("../images/hot-air-balloon-306007_640.png"); //#FBF4A3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4A4A4A;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 800px;
  //font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  //background-color: white;
  border-radius: 10px;
  padding: 60px;
  .buttonheader {
    text-align: center;
    line-height: normal;
    padding-top: 0px;
    padding-bottom: 25px;
  }
    header {
    padding: 35px;
    width: 680px;
    height: 120px;
    text-align: center;
    //background-image: url("../images/clouds-wallpaper.jpeg");
    background-size: 800px 120px;
    border-radius: 10px;
    .headerText {
      color: black;
      font-size: 55px;
      font-weight: bold;
      //text-align: center;
      margin-top: 70px;
    }
    }
  }

.entry {
  background-color: white;
  opacity:0.85;
  border-radius: 15px;
  //border-bottom: 2px solid blue;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-top:10px;
  padding-bottom:20px;
}

.greeting {
  font-size: 24px;
  line-height: 30px;
}

button {
  border-radius: 15px;
  color: #FFF;
  font-weight: light;
  border: 1px solid #FFF;
  padding: 5px 15px;
  line-height: 20px;
}
.submit {
  float: right;
  background-color: green;

}
.newEntryButton {
  background-color: green;
}
.entriesButton {
  background-color: orange;
}
.logOutButton {
  background-color: red;
}
.forgotButton {
  background-color: red;
}
.registerButton {
  background-color: orange;
}

.welcomebutton {
  padding-top: 0px;
  padding-bottom: 25px;
  text-align: center;
}
.welcomeEnter {
  text-align: center;
  padding-bottom: 50px;
}

.date {
  color: #8E8E93;
}
.heading {
  color: #0A3C68;
}
.question {
  color: #24AE60;
}
.quillEntry {
  border-top: 1px solid #8E8E93;
  border-left: 1px solid #8E8E93;
  border-right: 1px solid #8E8E93;
  border-radius: 10px;
}
.ql-toolbar {
  background-color: #FBF4A3;
  border-radius: 10px;
}
.ql-editor {
  border-top:  1px solid #8E8E93;
  height: 200px;
  border-radius: 10px;
}
