<div ng-repeat="entry in entries | orderBy:'-Date'">
  <div>{{ entry.Date | date:"mediumDate"}}</div>
  <br>
  <div><h3 >{{entry.Heading}}</h3></div>
  <div>{{entry.QuestionText}}</div>
  <div>{{entry.Body}}<br>
    <span ng-show="entry.Picture.url">
      <img ng-src="{{entry.Picture.url}}" width="300" height="200">
    </span>
  </div>
    <hr style="border: 1px dashed black;" />

    <div style="margin-left: 20px"
    ng-repeat="addendum in addendums | filter:{Post: entry}">
      {{addendum.Date | date:"mediumDate"}}<br>
      {{addendum.Body}}<br>
      <span ng-show="addendum.Picture.url">
        <img ng-src="{{addendum.Picture.url}}" width="300" height="200">
      </span>

      <hr style="border: 1px dashed black;" />
    </div>

    <button ng-click="append(entry)">append</button>
    <div ng-show="entry.extra">
      <quill quill-model="entry.appendBody"></quill><br>
       Or you can enter a picture:
       <input type="file" accept="image/*" fileapi="entry.picture">
       <button ng-click="submitAppend(entry)">submit</button>
    </div>



    <hr style="border: 2px solid black;"/>

</div>
