<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>journal</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="../bower_components/quill/dist/quill.snow.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="journal">

    <div class="hero-unit">
      <div class="buttonheader" ng-controller="EntryController">
      <button class="butHeader" ng-click="newEntry()">New Entry</button>
      <button class="butHeader" ng-click="entriesView()">Older Entries</button>
      <button class="butHeader">Log Out</button>
    </div>
      <header>

        <span class="headerText">My Journal</span>
      </header>

      <span id="user"></span>
      <div ng-view></div>




    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="../bower_components/angular-foundation/mm-foundation.js"></script>
    <script src="../bower_components/quill/dist/quill.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/entry/entry-factory.js"></script>
        <script src="scripts/entry/entry-controller.js"></script>
        <script src="scripts/users/login-controller.js"></script>
        <script src="scripts/users/user-factory.js"></script>
        <script src="scripts/questions/question-factory.js"></script>
        <!-- endbuild -->
</body>
</html>
