
<div>
  <div>Hi, {{user.name}}</div>
  <div>Date: {{ date }}</div>
  <button ng-click="submit()">Submit</button><br>
  <div>Heading <input type="text" ng-model="heading" size="50" placeholder="This is the tl;dr..(optional)"></div>
  <div>{{question}}</div>
  <div><textarea ng-model="body" cols="61" rows="6"
    placeholder="Please answer the question, or write something else."

  ></textarea>
  <br>

  Or you can enter a picture:
  <input type="file" accept="image/*" fileapi="fileapi">
  </div>

</div>
