
<div>
  <div>Hi, {{user.username}}</div>
  <div>Date: {{ date | date:'mediumDate' }}</div>
  <button ng-click="submit()">Submit</button><br>
  <div>Heading <input type="text" ng-model="heading" size="50" placeholder="This is the tl;dr..(optional)"></div>
  <div>{{question}}
    <img ng-click="do_over()" class="do-over-icon"
    src="images/do-over.png" height="25" width="25"></div>
  <div><quill var="body"></quill>
  <br>

  Or you can enter a picture:
  <input type="file" accept="image/*" fileapi="picture">
  </div>

</div>
